.card{
    position: relative;
    /* box-shadow: 2px 2px 3px 3px rgb(64, 62, 62); */
    transition: all 0.15s linear 0s;
    cursor: pointer;
    background-color: #dee2e6;
   
    padding: 3px;
    max-width: 15rem;
    min-width: 15rem;
}

.card:hover{
    transform: scale(1.019);
}
.card-header{
    display: flex;
    justify-content: space-between; 
    height: 6vh;
}
.util-btn{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.util-btn i{
    color: rgb(44, 80, 179);
}
.util-btn i:hover{
    color: rgb(9, 27, 77);
}
.desc-li{
    min-height: 20vh;
}
.price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 2px;
}

.tag-li{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}




@media screen and (max-width:1350px) {
    .card{
        /* max-width: 17vw; */
        min-width: 15vw;
    }
}
